NEXT_PUBLIC_SITE_NAME=Adsphere
NEXT_PUBLIC_API_URL=https://api.adsphere.com
DATABASE_URL=postgresql://username:password@localhost:5432/adsphere
JWT_SECRET=changeme
NEXTAUTH_SECRET=changeme
NODE_ENV=development
